package main

import (
	"fmt"

	"github.com/t0nyandre/adventofcode/utils"
)

func part1(input []string) int {
	var sum int
	return sum
}

func part2(input []string) int {
	var sum int
	return sum
}

func main() {
	nums := utils.GetInputs("input.txt")

	fmt.Print(
		"Solution AOC2024 Day0\n",
		"----------------------\n",
		fmt.Sprintf("Part 1: %v\n", part1(nums)),
		fmt.Sprintf("Part 2: %v\n", part2(nums)),
	)
}
